{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<header class="cover {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}; display: none">
    <p class="cta-sub">
        天地玄黄，宇宙洪荒。日月盈昃，辰宿列张。
    </p>
</header>
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}

